    * {
        margin: 0;
        padding: 0;
        background-color: #e7d4e4;
    }
    
    .container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    video {
        height: 80vh;
    }
    
    .player {
        position: relative;
        justify-content: center;
    }
    
    .player:hover {
        opacity: 0.86;
        display: block;
    }
    
    .control {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid rgb(225, 116, 207);
        border-radius: 8px;
        margin-bottom: 8px;
        gap: 6px;
    }
    
    .player:hover .control {
        display: block;
        opacity: 0.86;
    }
    
    .range {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    
    .timingRange {
        width: 90%;
    }
    
    input {
        width: 400px;
    }
    
    img {
        width: 40px;
    }
    
    .volumeRange {
        width: 60px;
    }